/*PAGE SETTINGS-----------------------*/
/*------------------------------------*/

html, * {
    margin: 0;
    padding:0;
    font-family: 'Paragon-Regular';
    font-weight:normal;
    color:dodgerblue;
}

body{
    /*background-color:lightpink;*/
    background-color:whitesmoke;
}

::-webkit-scrollbar {
    width: 5px;
    height:5px;
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb
{
    width: 5px;
    height:5px;
    background-color: springgreen;
    border-radius: 0px;
}

/*TYPEFACES -----------------------*/
/*------------------------------------*/

@font-face { 
    font-family: 'Paragon-Regular';
    src: url('fontes/Paragon-Regular.otf') format('opentype');
}

/*HEADER SETTINGS --------------------*/
/*------------------------------------*/

/*SECTION SETTINGS -------------------*/
/*------------------------------------*/

section{
    display:flex;
}

.left-column {
    width:15vw;
    background-color:whitesmoke;
    padding:20px;
    height:calc(100vh - 40px);
    z-index:100;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.3);
}

.left-column h2{
    margin-bottom:25px;
    padding:10px;
    border:1px solid sienna;
    color:sienna;
    font-size:20px;
}

.left-column h2:hover{
    border:1px solid springgreen;
    cursor:pointer;
    background-color: springgreen;
    color:dodgerblue;
}

.left-column p{
    position:absolute;
    bottom:20px;
}

.middle-column{
    width:15vw;
    background-color:whitesmoke;
    padding:20px;
    height:calc(100vh - 40px);
    z-index:50;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.3);
}

.middle-column h2{
    margin-bottom:25px;
    padding:10px;
    border:1px solid sienna;
    color:sienna;
    font-size:20px;
}

.middle-column h2:hover{
    border:1px solid springgreen;
    cursor:pointer;
    background-color: springgreen;
    color:dodgerblue;
}

.middle-column h2:checked{
    border:1px solid springgreen;
    cursor:pointer;
    background-color: springgreen;
    color:dodgerblue;
}

.part{
    display:none;
}

.right-column{
    width:calc(70vw - 160px);
    padding:20px 40px;
    height:calc(100vh - 40px);
    z-index:50;
    overflow-y: scroll;
}

.part-content{
    display:none;
}

/*RIGHT COLUMN SETTINGS --------------*/
/*------------------------------------*/

.right-column h1{
    text-align:left;
    font-size:35px;
    color:springgreen;
    text-transform:uppercase;
    margin: 0vh 0 2vh 0;
}


.right-column h2{
    color:darkblue;
    text-align:left;
    margin: 4vh 0 2vh 0;
    text-transform:uppercase;
    font-size:22px;
}

.right-column h3{
    margin-top:2vh;
    text-transform:uppercase;
    font-size:17px;
}

.right-column p{
    font-size:17px;
}

.right-column .part-content div:nth-child(1), .right-column .part-content div:nth-child(2), .right-column .part-content div:nth-child(3){
    margin-bottom:5vh;
}


ul, ol{
    margin-left:25px;
}

blockquote {
    border-left: 4px solid springgreen; 
    padding-left:25px;
    color: sienna; 
}


pre {
    background-color: #f4f4f4;
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto; /* Pour activer le défilement horizontal si nécessaire */
}

/* Style pour le texte du code */
code {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    width:100%;
    text-transform: none;
}

code:hover {
    background-color:springgreen;
}


