/*Tout ce qui est placé en dehors de @media sera valable à la fois pour le web et pour le print*/

h1{
    font-size:100px;
}

@media screen {
    body {
        font-family: Arial, sans-serif;
        color: orangered;
    }






}